<ion-content>
  <div class="address-bar">
    Rua Exemplo, 123 - Bairro, Cidade
  </div>

  <ion-toolbar>
    <ion-card class="welcome-card">
      <ion-card-content>
        <div class="welcome-container">
          <div>
            <p class="welcome-text">Bem-vindo(a),</p>
            <p class="welcome-name">Admin!</p>
          </div>
          <div>
            <img src="../../assets/images/entregador.png" alt="Entregador" class="delivery-image">
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>

  <div class="categories-container">
    <div class="category" style="background-color: #ff4d4d;">Burger</div>
    <div class="category" style="background-color: #ffa726;">Pizza</div>
    <div class="category" style="background-color: #66bb6a;">Salada</div>
    <div class="category" style="background-color: #42a5f5;">Bebidas</div>
    <div class="category" style="background-color: #ab47bc;">Sobremesas</div>
  </div>

  <ion-list>
    <ion-item *ngFor="let restaurante of restaurantes" (click)="abrirProdutos(restaurante)">
      <ion-avatar slot="start"></ion-avatar>
      <ion-label>
        <h2 class="restaurant-name">{{ restaurante.name }}</h2>
        <p class="restaurant-description">{{ restaurante.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirRestaurante()">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>