
<ion-content>
  <div class="address-bar">
    Rua Exemplo, 123 - Bairro, Cidade
  </div>

  <img src="../../assets/images/banner2.avif"
       alt="Banner Promocional"
       class="static-banner-image">



  <div class="categories-container">
    <div class="category">Burger</div>
    <div class="category">Pizza</div>
    <div class="category">Salada</div>
    <div class="category">Bebidas</div>
    <div class="category">Sobremesas</div>
    <div class="category">Mercado</div>
  </div>


  <!-- Lista de Restaurantes -->
  <ion-list>
    <ion-item *ngFor="let restaurante of restaurantes" (click)="abrirProdutos(restaurante)">
      <ion-avatar slot="start">
         <img src="https://placehold.co/80x80/cccccc/ffffff?text=Logo" alt="Logo {{ restaurante.name }}">
      </ion-avatar>
      <ion-label>
        <h2 class="restaurant-name">{{ restaurante.name }}</h2>
        <p class="restaurant-description">{{ restaurante.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>