
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ restaurante?.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let produto of produtos"> 
      <ion-label>
        <h2>{{ produto.nome }}</h2>
        <p>Preço: R$ {{ produto.preco }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="adicionarAoCarrinho(produto)">
        <img src="assets/icon/add.png" alt="adicionar" style="width: 24px; height: 24px;">
      </ion-button>
      
    </ion-item>
  </ion-list>
</ion-content>
