<!-- src/app/lista-restaurantes/lista-restaurantes.page.html -->
<ion-header>
  <!-- Removido color="primary" daqui -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciar Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let restaurante of restaurantes" lines="none">
      <ion-label>
        <h2 class="restaurant-name-list">{{ restaurante.name }}</h2>
        <p class="restaurant-detail">{{ restaurante.description }}</p>
        <p class="restaurant-detail address">
          <ion-icon name="location-outline" slot="start" aria-hidden="true"></ion-icon>
          {{ restaurante.address }}
        </p>
      </ion-label>

      <div slot="end" class="action-buttons">
        <ion-button fill="clear" size="small" (click)="editarRestaurante(restaurante.id)">
          Editar
        </ion-button>
        <ion-button fill="clear" size="small" color="danger" (click)="excluirRestaurante(restaurante.id)">
          Excluir
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="novoRestaurante()">
      <img src="../../assets/icon/add.png" class="fab-icon" />
    </ion-fab-button>
  </ion-fab>
</ion-content>